{
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "extends": ["eslint:recommended", "eslint-config-prettier"],
  "rules": {
    "no-unused-vars": "off",
    "no-console": "off"
  },
  "env": {
    "browser": true
  }
}
