{
  "parserOptions": {
    "ecmaVersion": 6
  },
  "extends": [
    "eslint:recommended",
    "eslint-config-prettier",
    "plugin:@typescript-eslint/recommended"
  ],
  "env": {
    "browser": true
  }
}
